.nav2 {
  height: 100vh;
  width: 15vw;
  background: #fff;
  padding: 0.8rem 0.8rem;
}

.dashup {
  padding: 0.5rem 0.8rem;
  background: #f5f6f8;
  border-radius: 10px;
  min-height: 3rem;
  display: flex;
  align-items: center;
  border: 1px solid #e5eaf1;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}
.D {
  border-radius: 50%;
  padding: 0.3rem 0.7rem;
  background: #b5c6f1;
}
.page {
  min-height: 5rem;
  width: 100%;
  border-radius: 10px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.page1 {
  background: #eaf0ff;
}

.page2 {
  background: #f5ebff;
}

.page3 {
  background: #fff8ea;
}

.addItem {
  padding: 0.5rem 0.8rem;

  width: 100%;

  border: none;
  background: #b6c4ec;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.9rem;
  color: #2a60e4;
  font-weight: 500;
  cursor: pointer;
}
.addItem img {
  margin-right: 0.5rem;
}

.nav2 li {
  margin-left: 2rem;
}
