* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  flex-direction: row;
  min-height: 100vh;

  background-color: rgb(222, 215, 250);
  font-family: "poppins", sans-serif;
  overflow: hidden;
}
.line {
  background-color: #e5eaf1;
  min-height: 100vh;
  width: 1px;
}
