.head {
  padding: 0.5rem 1rem;
  min-height: 10vh;
  width: 98%;
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 1rem 0rem;
  box-shadow: 0px 0px 10px 0px rgb(202, 202, 202);
}

.left {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.back img {
  width: 140%;
}
.back {
  margin-right: 0.5rem;
  width: 7%;
}

.headlogo {
  display: flex;
  align-items: center;

  width: 100%;
}
.headImage {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}
.detail {
  width: 100%;
}
.detail h2 {
  font-size: 1em;
}
.detail p {
  font-size: 0.8em;
}

.Clogo {
  width: 25%;
  margin: 0.3rem 0.2rem 0 0.8rem;
}
/* /////////////////////right////////////////// */
.right {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

a {
  text-decoration: none;
}
.right a {
  height: 2.5rem;
  border: 1px solid black;
  margin-left: 1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.right img {
  width: 120%;
}

.me-Wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user {
  display: flex;
  align-items: center;
}
.user img {
  padding-top: 0.5rem;
}
.group {
  height: 2.5rem;
  width: 2rem;
  display: flex;
  align-items: center;
  background: black;
  justify-content: center;
  padding-top: 0.5rem;
  margin-left: 1.2rem;
}
.me {
  width: 6rem;
  color: Black;
}

.filter {
  padding: 0rem 0.8rem;
}

.bookmark {
  padding: 0rem 0.8rem;
}

.task {
  border: 1px solid white;
  background: #2a60e4;
  color: white;
  padding: 0 0.5rem;
}

.setting {
  padding: 0rem 0.6rem;
}
a {
  -webkit-transition: 0.3s ease-out;
}
a:hover {
  transition: 0.3s ease-in;
  transform: scale(1.1);
}
